* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main, .area-calculadora {
    height: 100%;
}

body {
    background: linear-gradient(38deg, #004A8B, #35A5C6);
}

.area-calculadora {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora {
    width: 380px;
    height: 520px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(21, 21, 21);
}

.calculadora input {
    text-align: right;
    width: 90%;
    height: 12%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
    border: none;
    padding-right: 5px;
    background-color: rgb(214, 214, 214);
}

.line {
    margin: 10px 0px 0px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.line .button-end {
    width: 95%;
    font-size: 45px;
}

.button {
    width: 70px;
    height: 70px;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: rgb(42, 40, 40);
    font-size: 24px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(66, 64, 64);
}